body, html {
    /* font-family: verdana; */
    height: 100%;
    background-color: rgb(245,245,245)
}

.subtitle {
    color: black;
}
.navDiv {
    display: flex;
    justify-content: space-around;
    color: white !important;
    background-color: dodgerblue;
    align-items: center;
    height: 50px;
}

a {
    background-color: transparent;
}

p {
    color: black;
}

.label {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.navbar-menu {
    background-color: rgb(129, 208, 250);
}

.navbar-item {
    background-color:  rgb(129, 208, 250);
    color: white;
}

/* .navbar-item:hover {
    background-color: #ffcc00;
    color: #1030AD;
} */

.box {
    background-color: rgb(245,245,245);
}

.navbar-burger {
    color: dodgerblue;
}

.navbar-burger:hover {
    color: dodgerblue;
}

.button, .is-link {
    color: dodgerblue;
}
.outerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.innerBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    border-radius: 5%;
    width: 25%;
    height: 25%;
    margin: 3px;
    padding: 3px;
}

.navLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.adminBox {
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow-y: scroll;
}

.reviewBox {
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow-y: scroll;
}

.brandButton {
    background-color: #ffcc00;
    color: white;
}

.brandSelected {
    background-color: #ffcc00;
    color: white;
    box-shadow: 0px 0px 10px white;
}

.button:hover {
    transform: scale(1.05);
    color: white;
}

.titleLink {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

.titleLink:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.title {
    color: black;
}
 
.fa-star {
    color: yellow;
}
